.profile__image {
  display: block;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  object-fit: cover;
}

.profile__image-wrapper {
  margin: 0 29px 0 0;
  position: relative;
  cursor: pointer;
}

.profile-avatar-edit {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: 0.3s visibility, 0.3s opacity;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.profile__image-wrapper:hover .profile__image-hover {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
